:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue-dark: hsl(207, 26%, 17%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

body {
  color: var(--Very-Dark-Blue);
  background-color: var(--Very-Light-Gray);
}
.container {
  padding: 1rem 5rem;
}
/* header css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--White);
}
.header h1 {
  font-size: 25px;
}
.theme-btn {
  width: 10%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0;
}
.theme-btn > div:nth-child(2) {
  flex-grow: 2;
}
.theme-btn img {
  width: 20px;
}

/* navbar css */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
}
.search-bar {
  border-radius: 10px;
  display: flex;
  width: 30%;
  height: 45px;
}
.search-bar label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 1rem;
  background-color: var(--White);
}
.search-bar input {
  padding: 10px;
  flex-grow: 5;
  border: 0;
  color: var(--Dark-Gray);
}
.search-bar input:focus {
  outline: none;
}
.search-bar img {
  width: 20px;
}
nav > div {
  width: 12%;
  background-color: var(--White);
  padding: 0 1rem;
}
nav select {
  width: 100%;
  height: 45px;
  border: 0;
  background-color: var(--White);
  font-size: 13px;
}
select option{
 border: 0;
 outline: none;
 padding: 1rem;
}
nav select:focus {
  outline: none;
}

/* main css */
.main{
  padding-bottom: 2rem;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: center;
  margin-top: 3rem;
  min-height: 73.8vh;
  align-items: flex-start;
}
.card{
  max-width: 300px;
  background-color: var(--White);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}
.card:hover{
  transform: scale(1.05);
}
.card>div:nth-child(1){
  flex-grow: 1;
  width: 300px;
  height: 200px;
}
.card img{
  height: 100%;
  width: 100%;
  min-height: 200px;
}
.card-info{
  padding: 1rem;
}

/* detail page css */
.details{
  height: 90vh;
}
.navbar{
  padding-top: 2rem;
}
.navbar a{
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}
.navbar img{
  width: 18px;
}

.card-detail-container{
  display: flex;
}
.card-detail-container img{
  width: 35rem;
  height: 25rem;
}
.card-detail-container section{
  flex-grow: 1;
  padding: 5rem 0;
  max-width: 1000px;
}
.card-detail-container section:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  'head head'
  'detail1 detail2'
  'footer footer';
}
.details-container>div:nth-child(1){
  grid-area: head;
}
.details-container>div:nth-child(2){
  grid-area: detail1;
}
.details-container>div:nth-child(3){
  grid-area: detail2;
}
.details-container>div:nth-child(4){
  grid-area: footer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.border-container{
  display: flex;
  flex-grow: 1;
  gap: 10px;
  flex-wrap: wrap;
}
.border{
  height: 30px;
  background-color: #fff;
  border: 2px solid rgba(17, 17, 26, 0.1);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 2px 8px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

@media only screen and (max-width: 948px) {
  nav{
    padding: 1rem 0;
  }
  nav:not(.navbar){
    flex-direction: column;
    gap: 1rem;
  }
  nav:not(.navbar) > div{
    width: auto;
  }
  nav:not(.navbar) > div input{
    width: 100%;
  }
  .navbar a {
    width: 50%;
  }
  .header{
    justify-content: unset;
    gap: 4rem;
  }
  .card-detail-container{
    display: block;
  }
  .card-detail-container img {
    width: 20rem;
    height: 15rem;
}
.container {
  padding: 1rem;
}
}